.projects-section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.project-title {
  color: #FFF;
  text-align: center;
  font-family: Prompt;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.projects-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* Keeps the second line in the middle */
}

/* This block keeps the projects in 2 lines, centered and is responsive to screen size */
#uomoshopfront,
#movietracker,
#wolframe,
#spotify,
#weather {
  flex: 1;
  display: flex;
  margin: 20px;
  align-content: center;
  justify-content: space-around;
}


#uomoshopfront {
  width: 420px;
  height: 210px;
  margin-left: 50px;
}

#movietracker {
  width: 376px;
  height: 210px;
}

#wolframe,
#weather

/* .brewery */
  {
  width: 300px;
  height: 300px;
}

#spotify {
  width: 420px;
  height: 210px;
}

/* .greengrocers {
  height: 280px;
  width: 186px;
}

.streamlabs {
  width: 420px;
  height: 210px;
}

.calculator {
  width: 600px;
  height: 210px;
}

.pokemoncards {
  height: 300px;
  width: 240px;
} */