.scroll-container {
  display: flex;
  position: relative;
  /* add this to establish a containing block for the arrow-up image */
}

.top-button-container {
  display: flex;
  position: fixed;
  right: -5px;
  bottom: 5rem;
}

.top-button,
.arrow-up {
  display: flex;
  border-radius: 50px;

  width: 50px;
  height: 50px;
}

.top-button {
  background: #0000;
  border-color: #00000000;
}

.arrow-up {
  width: 35px;
  height: 35px;
  position: absolute;
  /* add this to position the arrow-up image absolutely */
  top: 10px;
  /* adjust this value to position the arrow-up image on top of the top-button */
  left: 50%;
  /* center the arrow-up image horizontally */
  transform: translateX(-50%);
  /* center the arrow-up image horizontally */
}