/* GENERAL */
* {
  font-family: Prompt;
}

html {
  height: 100%;
  width: 100%;
  /* background-color: #D9D9D9; */
}

.container {
  background: linear-gradient(to bottom, #ecebeb, #8f8f8f, #626262, #222222);
}

/* TOP BAR */
.top-bar-bkg {
  background-color: #1E1E1E;
  height: 150px;
  display: flex;
  align-content: center;
}

.title-resume {
  display: flex;
  margin: 0;
  font-size: 50px;
  text-align: left;
  padding-left: 10%;
  align-items: center;
}

.go-back {
  position: absolute;
  top: 50px;
  right: 50px;
}

/* WORK - EDUCATION GENERAL */

.exp-container,
.education-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.work-exp-title,
.education-title {
  margin: 100px 40px;
  text-align: center;
  color: #000000;
  font-size: 50px;
}

.titles {
  color: #ffff;
  font-weight: normal;
  text-align: left;
  margin-top: 10px;
}

li, p {
  color: #ffff;
}
.date {
  float: right;
  background-color: #dcdcdcfe;
  padding: 5px 10px;
  border-radius: 5px;
}


#onedev-exp,
#boolean-exp,
#chef-exp,
#boolean-ed,
#webdev,
#introtocode,
#diploma {
  background: linear-gradient(180deg, rgba(163, 163, 163, 0.386) 20%, #330045 100%);
  padding: 20px;
  margin: 30px;
  /* Here be dragons - can't really explain this one */
  max-width: 80%;
  width: 80%;
  flex: 40%;
  border-radius: 30px;
  /* ze dragons are gone */
}

@media screen and (max-width: 800px) {

  #onedev-exp,
  #boolean-exp,
  #chef-exp,
  #boolean-ed,
  #webdev,
  #introtocode,
  #diploma {
    max-width: 100%;
    width: 80%;
  }
}

/* ONEDEVAWAY EXPERIENCE */
/* BOOLEAN EXPERIENCE */
/* CHEF EXPERIENCE */


/* EDUCATION */

/* NOTES */

.note {
  color: #000;
}