/* General */

* {
  font-family: Prompt;
}

body {
  margin: 0
}

/* Background Color */

.main-bkg {
  height: 100%;
  width: 100%;
  background: linear-gradient(247deg, #D9D9D9 0%, #D1CECE 29.05%, #4D4C4C 62.41%, #1E1E1E 85.63%);
  /* position: relative; */
  display: grid;
}

/* SLIDER */

.sliderContainer {
  background-color: #1E1E1E;
  width: 100%;
  height: auto;

  overflow: hidden;
}

.sliderContainer .slider-updates {
  display: flex;

}

.slider-text {
  font-family: 'Press Start 2P';
  font-size: 10px;
  text-align: center;
  color: #FFF;
  align-items: center;
  justify-items: center;
  padding: 5px 10px 5px 10px;
}

.sliderContainer .slider-updates .slider-text {
  display: inline-flex;
  animation: swipe 1500ms linear infinite;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}



/* Header in Header component */

/* About Me in AboutMe component */

/* Project Section in Projects Component */

/* Certificates Section in Skill Component*/

/* Skills Section in Skill Component */

/* Footer Section in Contact component */

/* Animations and Resizing */