/* General */

* {
  font-family: Prompt;
}

/* Background Color */

.main-bkg {
  height: 100%;
  width: 100%;
  background: linear-gradient(247deg, #D9D9D9 0%, #D1CECE 29.05%, #4D4C4C 62.41%, #1E1E1E 85.63%);
  /* position: relative; */
  display: grid;
}

/* Header in Header component */

/* About Me in AboutMe component */

/* Project Section in Projects Component */

/* Certificates Section in Skill Component*/

/* Skills Section in Skill Component */

/* Footer Section */

footer {
  margin-top: 80px;
  display: flex;

  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}

.bgk-footer {
  /* min-width: 80%;
  max-width: 90%; */
  width: 90%;
  height: 300px;
  background: rgba(255, 255, 255, 0.29);
  margin: 150px 30px 50px 30px;

  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;

}

.number,
.email,
.links {
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

/* Animations and Resizing */

/* button:hover {
  background-color: #1E1E1E;
  color: #FFF;
} */