/* General */

* {
  font-family: Prompt;
}

/* Background Color */

.main-bkg {
  height: 100%;
  width: 100%;
  background: linear-gradient(247deg, #D9D9D9 0%, #D1CECE 29.05%, #4D4C4C 62.41%, #1E1E1E 85.63%);
  /* position: relative; */
  display: grid;
}

/* Header in Header component */

/* About Me in AboutMe component */

/* Project Section in Projects Component */

/* Certificates Section in Skill Component*/

/* Skills Section in Skill Component */

/* Footer Section in Contact component */

/* Animations and Resizing */

/* button:hover {
  background-color: #1E1E1E;
  color: #FFF;
} */