footer {
  margin-top: 80px;
  display: flex;

  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}

.bgk-footer {
  /* min-width: 80%;
  max-width: 90%; */
  width: 90%;
  height: 300px;
  background: rgba(255, 255, 255, 0.29);
  margin: 150px 30px 50px 30px;

  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;

}

.number,
.email,
.links {
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #FFF;
}

.footer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}