/* ------------------------------------------- */
.aboutMe-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
  justify-self: center;
  font-family: Prompt;
}

.about-me-title {
  color: #FFF;
  font-size: 50px;
  margin: 50px 20px 20px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-me-content {
  flex: 1;
  margin: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.about-me-image {
  display: inline;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  margin: 20px;
}

.about-me-text {
  color: #000;
  text-align: justify;

  font-family: Prompt;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 90%;
  max-height: 60vh;
  padding: 10px;
  margin: 20px;

  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.resume-button {
  margin: 10px;
  width: 170px;
  height: 50px;

}